@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased overflow-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c6a969; /* accent */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b7355; /* primary */
}

/* Text Selection */
::selection {
  background: #c6a969;
  color: #ffffff;
}